<head>
    <% #<script src="http://github.highcharts.com/master/highstock.src.js"></script> %>
    <% #<script src="http://github.highcharts.com/modules/exporting.js"></script> %>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
    <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script type="text/javascript" src="http://developer.oanda.com/oandajs/oanda.js"></script>
    
    <% #<script type="text/javascript" src="/assets/javascripts/rates.js"></script> %>
</head>

 

<div id='quote-panel'>
    <div>
        <span>BID: </span>
        <span id="bid"></span>
    </div>
    <div>
        <span>ASK: </span>
        <span id="ask"></span>
    </div>
</div>



<div id="container" style="height: 400px; min-width: 600px"></div>
 