<head>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
    <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script type="text/javascript" src="//developer.oanda.com/oandajs/oanda.js"></script>

    <script type="text/javascript" src="/assets/canvasjs.min.js"></script>

   <%# <script src="http://github.highcharts.com/master/highstock.src.js"></script>
    <script src="http://github.highcharts.com/modules/exporting.js"></script>

locals: {tradeData: @tradeData, tradeDataHistory:

:partial => 'shared/tradeListInfo',  :object =>    %> 
</head>

<center><H1>&fnof; &nbsp; to &nbsp; &chi;</H1></center>

<table width='100%' style='border: 1px;'>
<div id='quote-panel'>
<form>
    <tr>
    <th><label for='EUR_USD'>EUR_USD</label></th>
    <th><label for='GBP_USD'>GBP_USD</label></th>
    <th><label for='USD_JPY'>USD_JPY</label></th>
    <th><label for='USD_CHF'>USD_CHF</label></th>
    </tr>
    <tr>
        <td><center><H1>&euro;</H1></center></td>       <td><center><H1>&pound;</H1></center></td>      <td><center><H1>&yen;</H1></center></td>        <td><center><H1>&#8355;</H1></center></td>
        <%#<td>BID:</td>           <td>BID:</td>           <td>BID:</td>           <td>BID:</td>
        <td id="bid"></td>      <td id="bid"></td>      <td id="bid"></td>      <td id="bid"></td>%>
    </tr>
    <tr>
        <%#<td>ASK:</td>           <td>ASK:</td>           <td>ASK:</td>           <td>ASK:</td>
        <td id="ask"></td>      <td id="ask"></td>      <td id="ask"></td>      <td id="ask"></td>%>
    </tr>
</div>
</table>

<br>

<div id="chartContainer" style="height: 400px; min-width: 600px"></div>
 
<%= render :partial => 'shared/tradeListInfo' %>


<body>
<h4>
This web application is purpose-built to showcase the highly liquid foreign exchange market. 
The chart at the center is of the Euro/US dollar currency pair, with a daily time frame and a starting date beginning at the current year. 
In addition to the chart, execution of trades in real-time using a
custom algorithmic trading system are displayed below the chart to the left, 
in the two colums with current and previous positions listed.
This automated process is believed to be the best methodolgy for trading and investing. 
The site is for educational purposes only with no investment advice given.
</h4>
</body>

