
<html>
<body>
<div id='instruments'>
<form>
    <label for='EUR_USD'>EUR_USD</label>
    <div>
        <span>BID: </span> 
		<span id="bid"></span>
    </div>
    <div>
        <span>ASK: </span>
        <span id="ask"></span>
    </div>
</form>
<form>
    <label for='GBP_USD'>GBP_USD</label>
    <div>
        <span>BID: </span> 
		<span id="bid"></span>
    </div>
    <div>
        <span>ASK: </span>
        <span id="ask"></span>
    </div>
</form>
<form>
    <label for='USD_JPY'>USD_JPY</label>
    <div>
        <span>BID: </span> 
		<span id="bid"></span>
    </div>
    <div>
        <span>ASK: </span>
        <span id="ask"></span>
    </div>
</form>
<form>
    <label for='AUD_USD'>AUD_USD</label>
    <div>
        <span>BID: </span> 
		<span id="bid"></span>
    </div>
    <div>
        <span>ASK: </span>
        <span id="ask"></span>
    </div>
</form>

</div>
</body>
</html>