<!DOCTYPE html>
<html>
<head>
  <title>TopSecret</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
  <script type="text/javascript" src="http://developer.oanda.com/oandajs/oanda.js"></script>	


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
